<!doctype html>
<title>MMS Giphy translations!</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>MMS Giphy translations!</h1>
  <p> This is a website you can use to send me (<a href="https://github.com/rohitvarkey/">@rohitvarkey</a>) GIFs on my phone! Just enter
      in any thing you want in the search box here. I use Giphy's translate API
      to enable this and Twilio for sending for sending out the MMS. The code can be found at [Github](https://github.com/rohitvarkey/TwilioGiphy).</p>

  <p>
      This is a proof of concept app and will be taken down once my free trail of the Twilio API is done.
      Thanks Twilio! :)
  </p>

  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
